/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
}

/* Clearfix */
.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

/* --------------------------------- */

header{
    min-height: 503px;
    background-image: url(img/jumbo.png);
    background-repeat:  no-repeat;
    background-size: cover;
    background-position: center;
    padding: 25px;
}

.menu-header{
    max-width: 1300px;
    /* border: 1px solid red; */
    margin: 0 auto;
    margin-bottom: 100px;
}

.logo-header{
    width: 105px;
    float: left;
    line-height: 28px;
}

.logo-header img{
    width: 100%;
    display: block;
}

.menu{
    width: calc(100% - 105px - 50px);
    float: left;
    text-align: center;
    line-height: 28px;
    background-color: #255EE9;
}

.menu-header .menu li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.menu li a{
    text-decoration: none;
    color: white;
}

.button-header{
    width: 50px;
    float: left;
    line-height: 28px;
}

.button-header a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
}

.description-header{
    width: 630px;
    /* border: 1px solid red; */
    padding: 5px;
    margin: 0 auto;
    text-align: center;
    color: white;
}

.description-header h1{
    font-size: calc(1vw + 35px);
    margin-bottom: 40px;
}

.description-header p{
    margin-bottom: 50px;
}

.description-header a i{
    margin-right: 10px;
}

.description-header a{
    text-decoration: none;
    color: black;
    padding: 15px 25px;
    border-radius: 30px;
    background-color: white;
    margin-right: 25px;
}

#btn-header-white{
    background-color: #ffffff;
}

#btn-header-black{
    background-color: #23272a;
    color: white;
}

.wrapper-section-1{
    width: 1300px;
    margin: 100px auto;
    /* border: 1px solid red; */
    margin-top: 100px;
}

.wrapper-section-1 .img-card{
    width: 830px;
    /* border: 1px dashed blue; */
    float: left;
}

.img-card img{
    width: 85%;
    display: block;
}

.wrapper-section-1 .img-description{
    width: calc(100% - 830px);
    /* border: 1px dashed blue; */
    float: left;
    margin-top: 30px;
    padding: 0 10px;
}

.img-description h2{
    font-size: 50px;
    margin-bottom: 30px;
}

.row-1{
    width: 1300px;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid orange; */
    padding: 90px 0;
}

.text_section_3 h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.text_under_logo{
    /* border: 1px solid red; */
    width: 400px;
    padding: 25px 0;
    margin: 0 auto;
    background-image: url(img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    /* margin-bottom: 80px; */
}

.text_under_logo h2{
    font-size: 22px;
    margin-bottom: 40px;
}

.text_under_logo .button_section_3 a{
    text-decoration: none;
    color: white;
    background-color: #8ea1e1;
    padding: 10px 30px;
    border-radius: 30px;
}

.text_under_logo .button_section_3 i{
    padding-right: 5px;
}

footer{
    width: 100%;
    background-color: #23272a;
    padding: 20px;
    color: white;
}

.footer_wrapper{
    width: 1300px;
    /* border: 2px solid orange; */
    margin: 0 auto;
    padding: 40px 10px;
    border-bottom: 1px solid #434f73;
    margin-bottom: 10px;
}

.footer_wrapper .col-1{
    width: calc(100% - 20% - 20% - 20% - 20%);
    /* border: 1px dashed red; */
    padding: 10px;
    float: left;
}

.col-1 h2{
    color: #8ea1e1;
    font-size: 25px;
    margin-bottom: 20px;
}

.col-1 .language img{
    width: 20px;
    height: 12px;
    display: inline-block;
}

.language{
    margin-bottom: 15px;
}

.language i{
    font-size: 12px;
}

.icon_social li{
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}

.icon_social li a i{
    color: white;
}

.col-2{
    width: 20%;
    /* border: 1px dashed red; */
    padding: 20px;
    float: left;
}

.col-2 h2{
    color: #8ea1e1;
    font-size: 16px;
    margin-bottom: 8px;
}

.col-2 ul li{
    list-style: none;
    margin-bottom: 10px;
}

.col-2 ul li:last-child{
    margin-bottom: 0;
}

.col-2 ul li a{
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.registered{
    width: 1300px;
    /* border: 1px solid green; */
    margin: 0 auto;
    padding: 20px 0;
    margin-bottom: 75px;
}

.registered .logo{
    width: 105px;
    float: left;
}

.registered .logo img{
    width: 100%;
    display: block;
}

.registered button{
    border: none;
    background: none;
    float: right;
}

.registered button a{
    text-decoration: none;
    color: white;
    background-color: #8ea1e1;
    border-radius: 25px;
    padding: 10px 15px;
    font-size: 16px;
}
